* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

:root {
  --bg-color-light: #f8f9fa;
  --text-color-light: #212529;
  --card-bg-light: #ffffff;
  --button-bg-light: #ff6f61;
  --button-text-light: #ffffff;
  --button-hover-light: #e05650;

  --bg-color-dark: #121212;
  --text-color-dark: #e0e0e0;
  --card-bg-dark: #1e1e1e;
  --button-bg-dark: #3a3d98;
  --button-text-dark: #ffffff;
  --button-hover-dark: #2a2d78;

  --primary-color: #ff6f61;
  --secondary-color: #3a3d98;
  --accent-color: #009688;
  --gradient-start-light: #ff6f61;
  --gradient-end-light: #3a3d98;
  --gradient-start-dark: #1e1e1e;
  --gradient-end-dark: #3a3d98;

  --link-color-light: #ff6f61;
  --link-color-hover-light: #ff907d;
  --link-color-dark: #ffcc00;
  --link-color-hover-dark: #e6b800;

  --red-color: #dc3545;
  --red-color-hover: #c82333;
  --blue-color: #0070f3;
  --blue-color-hover: #0056b3;
  --black-color: #181818;
}

.theme-light {
  --bg-color: var(--bg-color-light);
  --text-color: var(--text-color-light);
  --card-bg: var(--card-bg-light);
  --button-bg: var(--button-bg-light);
  --button-text: var(--button-text-light);
  --button-hover: var(--button-hover-light);
  --link-color: var(--link-color-light);
  --link-color-hover: var(--link-color-hover-light);
  --gradient-start: var(--gradient-start-light);
  --gradient-end: var(--gradient-end-light);
}

.theme-dark {
  --bg-color: var(--bg-color-dark);
  --text-color: var(--text-color-dark);
  --card-bg: var(--card-bg-dark);
  --button-bg: var(--button-bg-dark);
  --button-text: var(--button-text-dark);
  --button-hover: var(--button-hover-dark);
  --link-color: var(--link-color-dark);
  --link-color-hover: var(--link-color-hover-dark);
  --gradient-start: var(--gradient-start-dark);
  --gradient-end: var(--gradient-end-dark);
}

ul {
  list-style: none;
  padding: 0;
}

main {
  padding: 20px;
  flex: 1;
  min-height: 50vh;
}

.project-card {
  background-color: var(--card-bg);
  border: 1px solid var(--text-color);
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button {
  background-color: var(--button-bg);
  color: var(--button-text);
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-weight: bold;
  font-size: 1rem;
}

button:hover {
  background-color: var(--secondary-color);
  opacity: 0.9;
}

.theme-toggle-button {
  font-size: 13px;
  margin: 10px;
  max-width: fit-content;
}

.homepage-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.homepage {
  background: linear-gradient(135deg, var(--gradient-start), var(--gradient-end));
  text-align: center;
  padding: 50px 20px;
  margin-bottom: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.homepage h1 {
  font-family: 'Lato', sans-serif;
  font-size: 2.5rem;
  color: var(--text-color);
  margin-bottom: 10px;
  text-shadow: 1px 1px #ccc;
}

.homepage p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  color: var(--text-color);
  margin-bottom: 20px;
}

.get-started-button > a {
  color: var(--button-text);
}

.get-started-button > a:hover {
  color: var(--button-text);
  text-decoration: underline;
}

.get-started-button {
  margin: 0 5px;
}
a {
  color: var(--link-color);
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: var(--link-color-hover);
  text-decoration: underline;
}